<h2 class="text-primary">Lista de productos:</h2>
<br>
{{#if productos}}
<table class="table table-dark table-striped container-md mt-5">
    <thead>
        <tr class="row-cols-2">
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td class="align-middle">
                {{nombre}}
            </td>
            <td class="align-middle">
                {{precio}}
            </td>
            <td class="align-middle"><img src="{{imagen}}" alt="{{nombre}}">
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="col text-center bg-danger text-light">
    <h2>No se han agregado productos a la lista</h2>
</div>
{{/if}}
<br>
<div class="col text-center">
    <a href="./">
        <button class="btn btn-success">Agregar productos</button>
    </a>
</div>